* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

main {
   width: 100vw;
   height: 100vh;
   background-color: lightblue;
   position: relative;
   overflow: auto;
}

.film {
   display: flex;
   background-color: lightgreen;
   margin: 10px;
}

.serie {
   display: flex;
   background-color: rgba(255, 15, 15, 0.81);
   margin: 10px;
}

.fa-star {
   color: rgb(231, 229, 20);
}
